<div id="my-lucky"></div>

<script src="https://unpkg.com/lucky-canvas@1.7.25"></script>
<script>
    const myLucky = new LuckyCanvas.LuckyWheel('#my-lucky', {
        defaultStyle: {
            fontSize: '18px',
            fontColor: '#f3f3f2'
        },
        width: '700px',
        height: '700px',
        blocks: [
            { padding: '3px', background: '#595857' },
            { padding: '3px', background: '#f3f3f2' },
            { padding: '3px', background: '#595857' }
        ],
        prizes: [
            { range: 1, background: '#698aab', fonts: [{ top: '10px', text: '麦当劳' }] },
            { range: 1, background: '#9079ad', fonts: [{ top: '10px', text: '肯德基' }] },
            { range: 1, background: '#6666CC', fonts: [{ top: '10px', text: '披萨' }] },
            { range: 1, background: '#745399', fonts: [{ top: '10px', text: '日式盖饭' }] },
            { range: 1, background: '#ee827c', fonts: [{ top: '10px', text: '炸鸡' }] },
            { range: 1, background: '#d8a373', fonts: [{ top: '10px', text: '食堂' }] },
            { range: 1, background: '#698aab', fonts: [{ top: '10px', text: '火锅' }] },
            { range: 1, background: '#9079ad', fonts: [{ top: '10px', text: '肉夹馍' }] },
            { range: 1, background: '#6666CC', fonts: [{ top: '10px', text: '烧烤' }] },
            { range: 1, background: '#745399', fonts: [{ top: '10px', text: '轻食' }] },
            { range: 1, background: '#ee827c', fonts: [{ top: '10px', text: '烤肉' }] },
            { range: 1, background: '#d8a373', fonts: [{ top: '10px', text: '菠萝' }] },
        ],
        defaultConfig: {
            speed: 15,
            stopRange: 0.7,
            gutter: 2,
            accelerationTime: 2500,
            decelerationTime: 3500
        },
        buttons: [
            { radius: '20%', background: '#c0c6c9 ' },
            { radius: '16%', background: '#f3f3f2', pointer: true },
            {
                radius: '12%', background: '#c0c6c9 ',
                fonts: [{ text: '开始', top: '-10px', fontSize: '18px', fontColor: '#2b2b2b' }]
            },
        ],
        start: function () {
            // 开始游戏
            myLucky.play()
            // 使用定时器模拟接口
            setTimeout(_ => {
                // 结束游戏
                myLucky.stop()
            }, 2000)
        },
        end: function (prize) { // 游戏停止时触发
            alert('不吃螺丝粉了，我们吃' + prize.fonts[0].text + '!')
        }
    })
</script>